.backgroundimg2 {
    background-image: url('C:\Users\swapn\Desktop\orange-app-master\src\assets\d01.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 101%;
}