<div class="row backgroundimg1">
    <div class="container-fluid">
        <div class="row backgroundimg2">
            <div class="col d-flex justify-content-center text-align-center align-items-center">

                <a class="btn btn-outline-light mr-1" routerLink="PersonalDiary">PersonalDiary</a>

            </div>
            <div class="col d-flex justify-content-center text-align-center align-items-center">
                <a class="btn btn-outline-light mr-1" routerLink="WeddingDiary">
                    Wedding Diary
                  </a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>