<div class="row backgroundimg">

    <div class="container-fluid">

        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-8 d-flex" style="margin-top: 100px;height: 80vh; width: 30vw;">

                <div style="margin-top: 10px;margin-left: 150px;justify-content: center;align-items: center;text-align: center;padding: 10px;">

                    <img src="../../assets/sad_logo.jpg" alt="">

                    <h1>400</h1>

                    <h2>Opps! Page Not Found.. Someting went wrong..</h2>

                    <h5>The page You are Looking for is not available.. Please check the URL</h5>

                </div>


            </div>
        </div>

    </div>

</div>